A_NewPortfolio
└── src/
├    └── assets/
├        ├─ 01_cardLab.png
├        ├─ 02_cardLogging.png
├        ├─ 03_cardVegetatif.png
├        ├─ 04a_productAgriPOP.png
├        ├─ 05_markedITProd.png
├    └── components/
├        └── contents/ 
├            ├─ C1_HeroSection.jsx
├            ├─ C2_SkillsSection.jsx
├            ├─ C3_CardsSection.jsx
├            ├─ C4_ProductSection.jsx
├        └── navbar/ 
├            ├─ A1_MyNavbar.jsx
├            ├─ A2_BottomNav.jsx
├    └── scss
├        └── _cardSection.scss
├        └── _heroSection.scss
├        └── _navbar.scss
├        └── _skillSection.scss
├        └── main.scss
├    └── Utils/  
├        ├─ SvgLogo.jsx
└──  App.jsx
└──  main jsx
